<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

  <h1>Dormitory</h1><br><br>				<!--main purpose of page-->
  <a href="https://pr2tat2.w3spaces.com/dormitory/dormitory_application.html">Dormitory Application</a><br><br>				<!--link to access the first option-->
  <a href="https://pr2tat2.w3spaces.com/dormitory/dormitory_placement.html">Dormitory Placement</a><br><br>				<!--link to access the second option-->

  <p>You have been assigned to Dormitory #, Room Number #, with roomates, #</p>								<!--placement of the dormitory-->
</body>
</html>